/* -------------------------------------------------------------------
Vertical Alignment
------------------------------------------------------------------- */

.vtop {
	vertical-align: top !important;
}

.vmiddle {
	vertical-align: middle !important;
}

.vbottom {
	vertical-align: bottom !important;
}

/* -------------------------------------------------------------------
Vertical Alignment
------------------------------------------------------------------- */

.tleft {
	text-align: left !important;
}

.tcenter {
	text-align: center !important;
}

.tright {
	text-align: right !important;
}

/* -------------------------------------------------------------------
Vertical Alignment
------------------------------------------------------------------- */

.s100 {
    height: 100% !important;
}

.s75 {
    height: 75% !important;
}

.s50 {
    height: 50% !important;
}

.s25 {
    height: 25% !important;
}

/* -------------------------------------------------------------------
Padding/Margins
------------------------------------------------------------------- */
.text-white {
	color: #fff !important;
}
.text-black {
	color: #000 !important;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix {
    clear: both;
}
.hidden {
	visibility: hidden !important;
}
.visible {
	visibility: visible !important;
}
.display-table {
	display: table;
}
.display-table-cell {
	display: table-cell;
}
.full-height {
	height: 100%;
}
.full-width {
	width: 100%;
}
.full-width-height {
    width: 100%;
    height: 100%;
}
.top {
	vertical-align: top;
}
.middle {
	vertical-align: middle;
}
.bottom {
	vertical-align: bottom;
}
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}	
.lower {
    text-transform: undercase;
}
.upper {
    text-transform: uppercase;
}
.underline {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.oblique {
    font-style: oblique;
}
.minus-one {
	letter-spacing: -1px;
}
.minus-two {
	letter-spacing: -2px;
}
.minus-three {
	letter-spacing: -3px;
}
.minus-four {
	letter-spacing: -4px;
}
.minus-five {
	letter-spacing: -5px;
}
.plus-one {
	letter-spacing: 1px;
}
.plus-two {
	letter-spacing: 2px;
}
.plus-three {
	letter-spacing: 3px;
}
.plus-four {
	letter-spacing: 4px;
}
.plus-five {
	letter-spacing: 5px;
}
.nopad {
	margin: 0 !important;
	padding: 0 !important;
}
.margin-0 {
    margin: 0 !important;
}
.margin-top-0 {
    margin-top: 0 !important;
}
.margin-top-5 {
    margin-top: 5px !important;
}
.margin-top-10 {
    margin-top: 10px !important;
}
.margin-top-15 {
    margin-top: 15px !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.margin-top-25 {
    margin-top: 25px !important;
}
.margin-top-30 {
    margin-top: 30px !important;
}
.margin-top-35 {
    margin-top: 35px !important;
}
.margin-top-40 {
    margin-top: 40px !important;
}
.margin-right-0 {
    margin-right: 0 !important;
}
.margin-right-5 {
    margin-right: 5px !important;
}
.margin-right-10 {
    margin-right: 10px !important;
}
.margin-right-15 {
    margin-right: 15px !important;
}
.margin-right-20 {
    margin-right: 20px !important;
}
.margin-right-25 {
    margin-right: 25px !important;
}
.margin-right-30 {
    margin-right: 30px !important;
}
.margin-right-35 {
    margin-right: 35px !important;
}
.margin-right-40 {
    margin-right: 40px !important;
}
.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.margin-bottom-5 {
    margin-bottom: 5px !important;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.margin-bottom-15 {
    margin-bottom: 15px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-bottom-25 {
    margin-bottom: 25px !important;
}
.margin-bottom-30 {
    margin-bottom: 30px !important;
}
.margin-bottom-35 {
    margin-bottom: 35px !important;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}
.margin-left-0 {
    margin-left: 0 !important;
}
.margin-left-5 {
    margin-left: 5px !important;
}
.margin-left-10 {
    margin-left: 10px !important;
}
.margin-left-15 {
    margin-left: 15px !important;
}
.margin-left-20 {
    margin-left: 20px !important;
}
.margin-left-25 {
    margin-left: 25px !important;
}
.margin-left-30 {
    margin-left: 30px !important;
}
.margin-left-35 {
    margin-left: 35px !important;
}
.margin-left-40 {
    margin-left: 40px !important;
}
.padding-0 {
    padding: 0 !important;
}
.padding-5 {
    padding: 5px !important;
}
.padding-10 {
    padding: 10px !important;
}
.padding-15 {
    padding: 15px !important;
}
.padding-20 {
    padding: 20px !important;
}
.padding-30 {
    padding: 20px !important;
}
.padding-40 {
    padding: 20px !important;
}
.padding-50 {
    padding: 20px !important;
}
.padding-top-0 {
    padding-top: 0 !important;
}
.padding-top-5 {
    padding-top: 5px !important;
}
.padding-top-10 {
    padding-top: 10px !important;
}
.padding-top-15 {
    padding-top: 15px !important;
}
.padding-top-20 {
    padding-top: 20px !important;
}
.padding-top-25 {
    padding-top: 25px !important;
}
.padding-top-30 {
    padding-top: 30px !important;
}
.padding-top-35 {
    padding-top: 35px !important;
}
.padding-top-40 {
    padding-top: 40px !important;
}
.padding-right-0 {
    padding-right: 0 !important;
}
.padding-right-5 {
    padding-right: 5px !important;
}
.padding-right-10 {
    padding-right: 10px !important;
}
.padding-right-15 {
    padding-right: 15px !important;
}
.padding-right-20 {
    padding-right: 20px !important;
}
.padding-right-25 {
    padding-right: 25px !important;
}
.padding-right-30 {
    padding-right: 30px !important;
}
.padding-right-35 {
    padding-right: 35px !important;
}
.padding-right-40 {
    padding-right: 40px !important;
}
.padding-bottom-0 {
    padding-bottom: 0 !important;
}
.padding-bottom-5 {
    padding-bottom: 5px !important;
}
.padding-bottom-10 {
    padding-bottom: 10px !important;
}
.padding-bottom-15 {
    padding-bottom: 15px !important;
}
.padding-bottom-20 {
    padding-bottom: 20px !important;
}
.padding-bottom-25 {
    padding-bottom: 25px !important;
}
.padding-bottom-30 {
    padding-bottom: 30px !important;
}
.padding-bottom-35 {
    padding-bottom: 35px !important;
}
.padding-bottom-40 {
    padding-bottom: 40px !important;
}
.padding-left-0 {
    padding-left: 0 !important;
}
.padding-left-5 {
    padding-left: 5px !important;
}
.padding-left-10 {
    padding-left: 10px !important;
}
.padding-left-15 {
    padding-left: 15px !important;
}
.padding-left-20 {
    padding-left: 20px !important;
}
.padding-left-25 {
    padding-left: 25px !important;
}
.padding-left-30 {
    padding-left: 30px !important;
}
.padding-left-35 {
    padding-left: 35px !important;
}
.padding-left-40 {
    padding-left: 40px !important;
}
.hide {
    display: none;
}
.show {
    display: block;
}
